<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Cadastro" ba-panel-class="panel-primary">
                <div>
                    <div class="horizontal-scroll">
                        <form class="ng-pristine ng-valid ng-scope">
                            <div class="form-group col-sm-4">
                                <label>Número da sala</label>
                                <input class="form-control" id="numero_sala" placeholder="Número" type="text" ng-required="true">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Capacidade</label>
                                <input class="form-control" id="capacidade" placeholder="Capacidade" type="text" ng-required="true">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Pavilhão</label>
                                <input class="form-control" id="pavilhao" placeholder="Pavilhão" type="text" ng-required="true">
                            </div>

                            <!-- Select radio -->
                            <div class="form-group col-sm-4">
                                <label>Tipo da sala</label>
                                <div class="controls radio-controls">
                                    <label class="radio custom-radio">
                                        <input type="radio" ng-model="options.positionClass" name="positions" value="toast-top-right" />
                                        <span>Sala de aula</span>
                                    </label>
                                    <label class="radio custom-radio">
                                        <input type="radio" ng-model="options.positionClass" name="positions" value="toast-bottom-right" />
                                        <span>Laboratório</span>
                                    </label>
                                    <label class="radio custom-radio">
                                        <input type="radio" ng-model="options.positionClass" name="positions" value="toast-bottom-left" />
                                        <span>Auditório</span>
                                    </label>
                                    <label class="radio custom-radio">
                                        <input type="radio" ng-model="options.positionClass" name="positions" value="toast-top-left" />
                                        <span>Sala de reunião</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Imagem da sala</label>
                                <input type="file" id="exampleInputFile">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
