
mobile/ChavesIME/.idea/vcs.xml

mobile/ChavesIME/.idea/gradle.xml

mobile/ChavesIME/.idea/misc.xml

mobile/ChavesIME/build.gradle

mobile/ChavesIME/gradle/wrapper/gradle-wrapper.properties

mobile/ChavesIME/projectFilesBackup/.idea/workspace.xml
