<div class="row mail-client-container transparent">
  <div class="col-md-12">
    <div ba-panel ba-panel-class="xmedium-panel mail-panel">
      <div class="letter-layout">
        <div class="mail-navigation-container" ng-class="{'expanded' : !tabCtrl.navigationCollapsed}">
          
          <div style="padding: 10px 10px 0px 10px;">
            <label>Nome do Professor</label>
            <input class="form-control" id="nome_professor" placeholder="Nome" type="text" ng-required="true">
          </div>
          <div style="padding: 10px 10px 0px 10px;">
            <label>Pavilhão</label>
            <input class="form-control" id="pavilhao" placeholder="Pavilhão" type="text" ng-required="true">
          </div>
          <div style="padding: 10px 10px 0px 10px;">
            <label>Número da Sala</label>
            <input class="form-control" id="numero_sala" placeholder="Número da Sala" type="text" ng-required="true">
          </div>
          <div class="text-center">
          <button type="button" class="btn btn-default compose-button">
              Pesquisar
            </button>
            </div>
          <!--div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active" class="mail-navigation"
               ui-sref="components.mail.label({label: t.label})" ng-click="selectTab(t.label)">
            {{t.name}}<span class="new-mails" ng-show="t.newMails">{{t.newMails}}</span-->
          </div>
        </div>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>