<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufba.chavesime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.HomeActivity" />

        <activity android:name=".controller.ReservarPorDataActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".controller.ReservarSalaActivity" />
        <activity android:name=".controller.CronogramaActivity" />
        <activity android:name=".controller.PassarChaveActivity" />
        <activity android:name=".controller.ReceberChaveActivity" />
        <activity android:name=".controller.CadastroActivity" />
        <activity android:name=".model.MainActivity"></activity>

    </application>

</manifest>
